extends layout

block content
    div.flex.flex-col.h-full.justify-center.items-center
        h1.text-red-800  Bienvenue sur Triskell knowledge
        img(src="/styles/images/Symbol-200x200px.png" width="180" height="180")
        form(action='/auth/login' method='GET')
            button(type="submit").mt-4.rounded-full.bg-green-500.text-white.p-3 Se connecter
        form(action='/auth/register' method='GET')
            button(type="submit").mt-4.rounded-full.bg-green-500.text-white.p-3 S'inscrire